<%- include('partials/header') -%>
<%- include('partials/nav') -%>
  
  <!--profile and new post part of feed page -->
<main class="flex justify-center w-screen h-screen px-4 text-gray-700">
	<section class="flex w-full max-w-screen-lg">
		<div class="flex flex-col w-64 py-4 pr-3"> 
			<a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm hover:bg-gray-300" href="/feed">Home</a>
			<a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm hover:bg-gray-300" href="/profile">Profile</a>
      		<a class="px-3 py-2 mt-2 text-lg font-medium rounded-sm hover:bg-gray-300" href="/logout">Logout</a>
    	</div>

		<div class="flex flex-col flex-grow border-l border-r border-gray-300">
			<div class="flex justify-between flex-shrink-0 px-8 py-4 border-b border-gray-300">
				<h1 class="text-xl font-semibold">The Creatives Feed</h1>
			</div>
			<div class="flex-grow h-0 overflow-auto">
				<div class="flex w-full p-8 border-b-4 border-gray-300">
					<span class="flex-shrink-0 w-12 h-12 bg-gray-400 rounded-full"></span>

					<form action="/post/createPost" enctype="multipart/form-data" method="POST" class="flex flex-col flex-grow ml-4">
						<textarea class="p-3 bg-transparent border border-gray-500 rounded-sm" rows="2" placeholder="What's happening?" name="caption" id="caption"></textarea>
						<div class="flex justify-between mt-2">
							<input type="file" id="imageUpload" name="file" class="flex items-center h-8 px-3 text-xs rounded-sm hover:bg-gray-200"></button>
							<button class="flex items-center h-8 px-3 text-xs rounded-sm bg-gray-300 hover:bg-gray-400" value="upload" type="submit">Post</button>
						</div>
					</form>
				</div>
			
        <% for(var i = 0; i < posts.length; i++){%>
				<div class="flex w-full p-8 border-b border-gray-300">
					<span class="flex-shrink-0 w-12 h-12 bg-gray-400 rounded-full"></span>
					<div class="flex flex-col flex-grow ml-4">
						<div class="flex">
							<span class="font-semibold"> <%-user.userName -%></span>
							<span class="ml-auto text-sm"></span>
						</div>
						<p class="mt-1 text-xl text-bold"> <%=posts[i].caption %> </p>
						<div class="flex items-center justify-center h-50  mt-2">
							<a href="/post/<%= posts[i]._id%>" >
								<img src="<%=posts[i].image%>" alt="" class="max-w-full object-fit my-5">
							</a>

						</div>
						<div class="flex mt-2">
							<button class="text-sm font-semibold">Like</button>
							<button class="ml-2 text-sm font-semibold">Comment</button>
						</div>
					</div>
				</div>
        <%}%>
			</div>
		</div>

    <!-- sidebar -->
		<div class="flex flex-col flex-shrink-0 w-1/4 py-4 pl-4">
			<div>
				<h3 class="mt-6 font-semibold">Trending</h3>
				<div class="flex w-full py-4 border-b border-gray-300">
					<span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>
					<div class="flex flex-col flex-grow ml-2">
						<div class="flex text-sm">
							<span class="font-semibold">Username</span>
							<span class="ml-1">@username</span>
						</div>
						<p class="mt-1 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. <a class="underline" href="#">#hashtag</a></p>
					</div>
				</div>
				<div class="flex w-full py-4 border-b border-gray-300">
					<span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>
					<div class="flex flex-col flex-grow ml-2">
						<div class="flex text-sm">
							<span class="font-semibold">Username</span>
							<span class="ml-1">@username</span>
						</div>
						<p class="mt-1 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. <a class="underline" href="#">#hashtag</a></p>
					</div>
				</div>
				<div class="flex w-full py-4 border-b border-gray-300">
					<span class="flex-shrink-0 w-10 h-10 bg-gray-400 rounded-full"></span>
					<div class="flex flex-col flex-grow ml-2">
						<div class="flex text-sm">
							<span class="font-semibold">Username</span>
							<span class="ml-1">@username</span>
						</div>
						<p class="mt-1 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. <a class="underline" href="#">#hashtag</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    </div>
  </section>
</main>
       

<%- include('partials/footer') -%>